<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Student" value="StudentDiscount" />
    <add key="Student2" value="StudentDiscount2" />
    <add key="Kid" value="KidDiscount" />
    <add key="Kid2" value="KidDiscount2" />
    <add key="Vip" value="VipDiscount" />
  </appSettings>
</configuration>